<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form_test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>

</head>

<body>

    <h1>Show Page</h1>
    <h3>Info Submitted:</h3>
        <p>First Name: {{ first_name_on_template }}</p>
        <p>Last Name: {{ last_name_on_template }}</p>
        






</body>

</html>